@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

:root {
  --gradient:linear-gradient(90deg,var(--purple),var(--pink));
  --purple: #9795EF;
  --pink: #F9C5D1;
  --background: #FFF9FA;
  --body-background: #FAF4F4;
  --light-text: #9A9A9A;
  --light-white: #ffffff;
  --border-radius: .5rem;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); 
}

section {
  padding: 2rem 9%;
}

body {
  background: var(--body-background);
}

* {
  font-family: 'Oswald', sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: .3s linear all;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden; 
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background: var(--light);
}

::-webkit-scrollbar-thumb {
   background-color: var(--gradient);
   border-radius: var(--border-radius);
}

.btn{
  color: var(--light-white);
  font-size: 1.5rem;
  background: var(--gradient);
  border-radius: var(--border-radius);
  padding: .8rem 3rem;
  margin-top: 1.5rem;
  display: inline-block;
}

/*header section starts*/

.header {
 top: 0;
 left: 0; right: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 9%;
 background: var(--background);
 z-index: 1000;
 box-shadow: var(--box-shadow);
 position: fixed;
}

.header .logo {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2rem;
  font-weight: bolder;
}

.header .navbar a {
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.5rem;
}

#menu-btn {
  display: none;
  font-size: 1.5rem;
  color: var(--light-white);
  background: var(--gradient);
  padding: 1rem 1.3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

/*header section ends*/

/*home section starts*/

.Home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 8%;
  background: var(--background);
}

.Home .content, .Home .image {
  flex: 1 1 45rem;
}

.Home .image img {
  width: 100%;
}

.Home .content h3 {
  font-size: 3.5rem;
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  padding: 1rem 0;
}

.Home .content p {
  color: var(--light-text);
  font-size: 2rem;
}

/*home section ends*/










/*media queries*/

@media(max-width: 991px){

   html {
    font-size: 65%;
   }

}

@media(max-width: 768px){
  
  #menu-btn {
    display: initial;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--light-white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    font-size: 1.5rem;
    display: block;
    margin: 2.5rem 2rem;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .header .navbar a:hover {
    color: var(--light-white);
    background: var(--gradient);
  }

  .Home .content {
    margin-top: 8rem;
  }

  .Home .content h3 {
    font-size: 3rem;
  }
  
  .Home .content p {
    font-size: 1.8rem;
  }
}

@media(max-width: 450px){

  html {
    font-size: 55%;
  }

}
