@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

:root {
  --gradient:linear-gradient(90deg,var(--purple),var(--pink));
  --purple: #9795EF;
  --pink: #F9C5D1;
  --background: #FFF9FA;
  --body-background: #ffffff;
  --light-text: #9A9A9A;
  --light-white: #ffffff;
  --border-radius: .5rem;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1); 
}

section {
  padding: 2rem 9%;
}

body {
  background: var(--body-background);
}

* {
  font-family: 'Oswald', sans-serif;
  margin: 0;padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: .3s linear all;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden; 
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track{
  background: var(--light);
}

::-webkit-scrollbar-thumb {
   background: var(--gradient);
   border-radius: var(--border-radius);
}

.btn{
  color: var(--light-white);
  font-size: 1.5rem;
  background: var(--gradient);
  border-radius: 8rem;
  padding: .8rem 3rem;
  margin-top: 1.2rem;
  display: inline-block;
}

.heading {
  text-align: center;
  padding: .8rem 1rem;
  padding-top: .1rem;
  padding: 4.5rem 0;
}
.heading h2 {
  color:var(--purple);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.heading h3 {
  color: var(--light-white);
  font-size: 3rem;
  background: var(--gradient);  padding: 1rem 1.2rem;
  text-align: center;
  display: inline-block;
  padding: .8rem 3rem;
}

.heading h4 {
  color: var(--light-text);
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: .7rem;
  text-align: center;
  display: inline-block;
  padding: 1rem  7.5rem;
}

/*header section starts*/

.header {
 top: 0;
 left: 0; right: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 9%;
 background: var(--body-background);
 z-index: 1000;
 box-shadow: var(--box-shadow);
 position: fixed;
}

.header .logo {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2.5rem;
  font-weight: bolder;
}

.header .navbar a {
  color: var(--purple);
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.5rem;
}

.header .navbar a:hover {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
 color: transparent;
 background: var(--gradient);
 background-clip: text;
 -webkit-background-clip: text;
}

#menu-btn {
  display: none;
  font-size: 1.5rem;
  color: var(--light-white);
  background: var(--gradient);
  padding: 1rem 1.3rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

/*header section ends*/

/*home section starts*/

.Home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 8%;
  background: var(--background);
}

.Home .content, .Home .image {
  flex: 1 1 45rem;
}

.Home .image img {
  width: 100%;
}

.Home .content h3 {
  font-size: 3.5rem;
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  padding: 1rem 0;
}

.Home .content p {
  color: var(--light-text);
  font-size: 2rem;
  text-transform: none;
}

/*home section ends*/

/*about section starts*/

.About {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.About .content,
.About .image {
  flex: 1 1 45rem;
}

.About .image img {
  width: 89%;
  border-radius: var(--border-radius);
}

.About .content h3 {
  color: var(--light-white);
  font-size: 2.5rem;
  background: var(--gradient);
  padding: 1rem 1.5rem;
  width: 40rem;
}

.About .content p {
  color: var(--light-text);
  font-size: 2rem;
  font-weight: 200;
  padding: 1rem 0;
  text-transform: none;
  width: 43rem;

}

/*about section ends*/

/*features section starts*/
.Features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: var(--background);
}

.Features .content,
.Features .image {
    flex: 1 1 45rem;
}

.Features .image img {
  width: 76%;
  margin-left: 2rem;
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
}

.Features .content h2 {
  color: var(--purple);
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem;
}

.Features .content .title{
  color: var(--light-white);
  font-size: 2.2rem;
  background: var(--gradient);
  width: 33rem;
  margin-top: .5rem;  
  padding: 1rem 2rem;
}

.Features .content .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.Features .content .box-container .box {
   flex: 1 1 20rem;
   padding: 1rem 0;
}

.Features .content .box-container .box h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: transparent;
  font-size: 1.5rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.Features .content .box-container .box p{
  color: var(--light-text);
  font-size: 1.3rem;
  font-weight: regular;
  text-transform: none;
  padding: 0 1.5;
}


.Features .content .box-container .box span{
  margin: 2rem .5rem;
}


.Features .content .box-container .box span i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 4.5rem;
  line-height: 4rem;
  font-size: 2.5rem;
  color: var(--purple);
  border-radius: 50%;
  background: #F3F2FF;
  margin-left: 0 1.5rem;
}

.Features .content .box-container .box span i:hover{
  color: var(--light-white);
  background:  var(--purple);
}

/*features section ends*/

/*classes section starts*/

.Classes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
  gap: 1.5rem;
}

.Classes .box-container .box {
  flex:1 1 28rem;
  overflow: hidden;
  position: relative;
}

.Classes .box-container .box .image img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.Classes .box-container .box .content {
  top: 50%;
  left: 5.5%;
  position: absolute;
}

.Classes .box-container .box .content h3 {
  color: var(--light-white);
  font-size: 1.8rem;
  font-weight: medium;
  margin: 1rem;
  
}


.Classes .box-container .box .content .icons a {
  color: var(--light-white);
  font-size: 1.5rem;
}

.Classes .box-container .box .content .icons a i {
  margin: 1rem;
}

.Classes .box-container .box .content .button {
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: 0.3rem;
  color: var(--light-white);
  font-size: 1.5rem;
  font-weight: 200;
  background: var(--gradient);
  margin-top: .5rem;
}

.Classes .box-container .box .content .button  i {
 padding-left: 1rem;
}

/*classes section ends*/

/*pricing section starts*/

.Pricing {
  background: var(--background);
}

.Pricing .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
   gap: 1.5rem;
}

.Pricing .box-container .box {
   flex: 1 1 20rem;
   background: linear-gradient(white, white) padding-box,
   linear-gradient(180deg, var(--pink), var(--purple)) border-box;
border-radius: 1rem;
border: 4px solid transparent;
text-align: center;
}

.Pricing .box-container .box h3 {
  color: transparent;
  font-size: 2.5rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  padding: 1rem 0;
}

.Pricing .box-container .box .amount {
  color: var(--light-white);
  font-size: 2.5rem;
  background: var(--gradient);
  padding: 1rem 0;
}

.Pricing .box-container .box .amount span {
  font-size: 3.5rem;
}

.Pricing .box-container .box ul {
  list-style: none;
}

.Pricing .box-container .box ul li {
  color: var(--light-text);
  font-size: 1.5rem;
  padding: 2rem 0;
  text-transform: none;
}

.Pricing .box-container .box .button {
  display: inline-block;
  margin: 1rem 0;
  padding: .8rem 3rem;
  color: var(--light-white);
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 1rem;
  background: var(--gradient);
  cursor: pointer;
}

/*pricing section ends*/

/*blog section starts*/

.Blogs .content {
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
}

.Blogs .content h2 {
  color: transparent;
  font-size: 2.5rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

.Blogs .content h3 {
  color: var(--light-white);
  font-size: 3rem;
  background: var(--gradient);  padding: 1rem 1.2rem;
  text-align: center;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.Blogs .content h4 {
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
}

.Blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
  gap: 1.5rem;
}

.Blogs .box-container .box {
  flex: 1 1 24rem;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(180deg, var(--pink), var(--purple)) border-box;
  border-radius: 1rem;
  border: 4px solid transparent;
  padding: 2rem 0;
}

.Blogs .box-container .box span {
  color: var(--purple);
  background: linear-gradient(white, white) padding-box,
  linear-gradient(180deg, var(--pink), var(--purple)) border-box;
  font-size: 1.8rem;
  border-radius: 1rem;
  border: 3px solid transparent;
  padding: .8rem 2rem;
  margin: 1rem;
}

.Blogs .box-container .box h3 {
  color: var(--purple);
  font-size: 1.6rem;
  padding: 2rem 1rem;
}

.Blogs .box-container .box p {
  color: var(--light-text);
  font-size: 1.8rem;
  padding: 1.5rem 1rem;
  text-transform: none;
}

.Blogs .box-container .box .button {
  color: var(--light-white);
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 1rem;
  background: var(--gradient);
  margin: 1rem;
  padding: .8rem 3rem;
  display: inline-block;
}

/*blog section ends*/

/*subscribe section starts*/

.Subscribe {
  padding: 5rem;
  background: var(--background);
}

.Subscribe .box {
  width: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: var(--gradient);
}

.Subscribe .box h1 {
  color: var(--light-white);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.Subscribe .box p {
  color: var(--light-white);
  font-size: 2rem;
  font-weight: 200;
  padding: 1rem 0;
  margin: 1rem 8.5rem;
  text-transform: none;
}

.Subscribe .box form {
  background: #eee;
  width: 60%;
  margin: 2rem auto;
  padding: .5rem 0;
  height: 5rem;
  border-radius: 5rem;
}

.Subscribe .box form input[type="email"]{
  width: 71%;
  color: var(--light-text);
  background: none;
  padding: .5rem;
  font-size: 1.5rem; 
}

.Subscribe .box form .btn {
  height: 90%;
  width: 26%;
  border-radius: 5rem;
  margin: .1rem 0;
  cursor: pointer;

}

/*subscribe section ends*/

/*footer section starts*/

.Footer {
  background: var(--gradient);
}

.Footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 1.5rem;
}

.Footer .box-container .box .logo {
  color: var(--light-white);
  font-size: 2.5rem;
  font-weight: bold;
}

.Footer .box-container .box p {
  color: var(--light-white);
  font-size: 1.8rem;
}


.Footer .box-container .box h3 {
  color: var(--light-white);
  font-size: 1.8rem;
}

.Footer .box-container .box a {
  display: block;
  color: var(--light-white);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem  0;
}

.Footer .box-container .box .share a {
   display: inline-block;
   font-size: 2.5rem;
   padding: 1rem .9rem;
} 

.Footer .credit {
  color: var(--light-white);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
  border-top: .1rem solid var(--light-white);
  text-align: center;
}


/*footer section ends*/














/*media queries*/

@media(max-width: 991px){

   html {
    font-size: 65%;
   }

   section{
    padding: 2rem;
   }

}

@media(max-width: 768px){
  
  #menu-btn {
    display: initial;
  }

  .header .navbar{
    position: absolute;
    top: 99%;
    left: 0; right: 0;
    background: var(--light-white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    font-size: 1.5rem;
    display: block;
    margin: 2.5rem 2rem;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .header .navbar a:hover {
    color: var(--light-white);
    background: var(--gradient);
  }

  .Home .content {
    margin-top: 8rem;
  }

  .Home .content h3 {
    font-size: 3rem;
  }
  
  .Home .content p {
    font-size: 1.8rem;
  }

  .Subscribe .box form{
    width: 100%;
  }
}

@media(max-width: 450px){

  html {
    font-size: 55%;
  }

}
